<!DOCTYPE html>
<html>
  <head>
    <title>Feed</title>
<style>
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  /* padding: 0 1rem; */
  max-width: 61em; 
  line-height: 1.5;
}
small {
  display: block;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

</style>
  </head>
  <body>
<h1>Feed</h1>
<h3>My own private feed. &#x1F485;</h3>

<ol>
<% @feed.each do |e| %>
  <li><a href="<%= e.url %>" target=<%= "_blank_#{e.id}"%>"><%= e.title %></a>
      <!-- <small><%= e.author %> | <%= e.published %></small></li> -->
      <small><%= e.author || e.url %> | <%= distance_of_time_in_words(Time.now, e.published) %></small></li>
<% end %>
</ol>
  </body>
</html>
